@tailwind base;
@tailwind components;
@tailwind utilities;

.bodycss {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    background: #ff73f5;
    background: linear-gradient(to bottom, #ff73f5, #fb8135, #ec4899);
    color: white;
}

.paper {
    background-image: url(./art/paper.png);
    background-repeat: repeat;
}

.paper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./art/paper.png);
    background-repeat: repeat;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
}

.landing {
    display: flex;
    padding: 0 10vw;
    height: 100vh;
    background-color: #46c1fe;
}

.landing-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;
}

@media screen and (max-width: 800px) {
    .landing {
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 0;
    }

    .landing-left {
        width: 100vw;
        text-align: center;
        align-items: center;
    }
}

.faqLink {
    color: lightblue !important;
    text-decoration: underline !important;
}

.aboutLink {
    color: lightcyan !important;
    text-decoration: underline !important;
}

.pop {
    transition: transform 0.1s ease-in-out;
}

.pop:hover {
    transform: scale(1.05);
}

.linkPop {
    transition: transform 0.08s ease-in-out;
}

.linkPop:hover {
    transform: scale(1.2) rotate(1deg);
}

.footLink {
    color: lightpink;
    text-decoration: underline;
}
